h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid black;
  padding: 25px;
  margin: 50px;
  align-self: center;
  border-radius: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 250px;
  height: 300px;
}

.errMsg,
.login-submit-button {
  align-self: center;
}

.errMsg {
  height: 16px;
  color: red;
}

.login-submit-button {
  width: 150px;
  height: 40px !important;
  background-color: orange !important;
  font-weight: bold !important;
  color: white !important;
  box-shadow: none !important;
}
