.table-container {
  margin-top: 50px;
  font-family: Arial;
}

.post-product-container {
  font-family: Arial;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 480px) {
  .table-container {
    align-self: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 450px;
  }
}

@media (min-width: 768px) {
  .table-container {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .table-container {
    width: 950px;
  }
}

@media (min-width: 1600px) {
  .table-container {
    width: 1400px;
  }
}
